@import "../../global.scss";

.dashboard-map {
    flex: 1;
    position: relative;

    &.m {
        height: calc(var(--vh, 1vh) * 100 - 4rem);
    }

    .cursor-emoji {
        position: fixed;
        pointer-events: none;
        z-index: 2;
        width: 2.5rem;
        height: 2.5rem;
        top: 0;
        left: 0;
    }
    &__loading {
        background: var(--color-backdrop);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}
.users-index {
    z-index: 1;
}

.user-index {
    z-index: 3;
}

.user-group-index {
    z-index: 3;
}
@keyframes slidein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}
.mobile-indicator {
    height: 100%;
    width: 100vw;
    pointer-events: none;
    -ms-pointer-events: none;
    display: flex;
    z-index: 999999;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__text {
        pointer-events: initial;
        -ms-pointer-events: initial;
        display: flex;
        padding: 0.5rem 2rem;
        border-radius: 20rem;
        margin-bottom: 5vh;
        background: white;
        font-size: 1.4rem;
        box-shadow: var(--style-shadow-big);
        font-family: var(--font-bold);
        animation: fadeInAndOut 1s infinite;
        will-change: transform;
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
