.dropdown-layout {
    background: white;
    box-shadow: var(--style-shadow-big);
    font-family: var(--font-bold);
    border-radius: 1rem;
    font-size: 1.4rem;
    width: 45rem;
    top: 95%;
    right: 2rem;
    min-height: 16.5rem;
    overflow-y: auto;
    position: absolute;
    max-height: calc(100vh - 30rem);
    max-height: -ms-calc(100vh - 30rem);
    animation: animateIn 0.3s cubic-bezier(0.16, 0.02, 0, 1.12);
    will-change: transform;
    &.m {
        position: initial;
        width: 100vw;
        max-height: initial;
        padding: 0;
        box-shadow: none;
        margin-top: 1rem;
        height: initial;
        .dropdown-layout {
            &__head {
                display: none;
            }
            &__content {
                padding-top: 6rem;
                max-height: initial;
                height: 100%;

                width: 100%;
                overflow: visible;
            }
        }
    }

    &__head {
        height: 100%;
        display: flex;

        justify-content: space-between;
        align-items: flex-end;
        padding: 1.5rem 2.5rem;

        position: relative;
        z-index: 3;

        &--title {
            margin-left: 0.6rem;
            font-size: 2rem;
            word-break: break-all;
        }
        &--menu {
            width: 3rem;
            height: 3rem;
            border-radius: 0.5rem;
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: var(--color-light-grey);
                cursor: pointer;
            }
        }
    }
    &__content {
        padding: 0 2rem 1.8rem 2rem;
        display: flex;
        flex-direction: column;
    }
    &__loading {
        padding: 1rem 1rem 4rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        max-height: calc(100vh - 35rem);
        max-height: -ms-calc(100vh - 35rem);
    }
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translate3d(0, -1rem, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0rem, 0);
    }
}
