.notification-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.notification-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
