.spinner {
    align-self: center;
    border-radius: 100%;

    position: relative;
    animation: spin 1s linear infinite;
    will-change: transform;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
