@import "../../global.scss";
.group-skeleton {
    width: 100%;
    min-height: 45rem;
    margin-bottom: 3rem;
    background: var(--color-light-grey);

    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    font-family: var(--font-bold);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative;
}
