@mixin halosStyle {
    background: var(--color-theme-1);
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    position: absolute;
    transform-style: preserve-3d;
    box-shadow: var(--style-shadow-markers);
    opacity: 0.07;
    z-index: -1;
    pointer-events: none;
}

.pin-dot {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 20rem;
    transform: translate(-50%, -50%);
    border: 0.7rem solid var(--color-white);
    position: absolute;
    transform-style: preserve-3d;
    z-index: 8;
    box-shadow: var(--style-shadow-markers);

    img {
        width: 104%;
        height: 104%;
    }
    &.far-distance {
        height: 1rem;
        width: 1rem;
        background: var(--color-theme-1);
        border: none;
        img {
            display: none;
        }
    }
}
.pin-dot-halo-pulse {
    will-change: transform;
    animation: pulse 1.7s infinite;
    @include halosStyle();
}
.pin-dot-halo {
    transform: translate(-50%, -50%);
    @include halosStyle();
}

@keyframes pulse {
    0% {
        opacity: 0.3;
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
}
