.modal-message {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    right: 0;
    top: 0;
    right: 0;
    z-index: 99999999;
    height: 100vh;
    background: var(--color-backdrop);

    .container {
        background: white;
        box-shadow: var(--style-shadow-big);
        width: fit-content;
        max-width: 100%;
        padding: 4.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__msg {
        display: block;

        font-size: 1.6rem;
    }
    &__btns {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
    }
}
